@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: Montserrat;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

:root {
  --border-color: #dadce0;
  --border-size: 1px;
  --day-padding: 0.25rem;
}

#root {
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}

@layer components {
  .input {
    @apply border rounded focus:border-primary outline-none;
  }

  .btn.btn-success {
    @apply border border-[#3f8853] bg-[#ecfbf3] text-[#122d1c] 
    hover:bg-[#d9f9e7];
  }

  .btn.btn-delete {
    @apply border border-[#d55752] bg-[#f9eae9] text-[#290907]
    hover:bg-[#f3d3d3];
  }

  .btn {
    @apply border border-normal rounded px-4 py-2 cursor-pointer text-gray-700
    transition-colors duration-300 hover:bg-slate-200;
  }

  .calendar {
    @apply h-full flex flex-col text-[#333];
  }

  .header {
    @apply p-4 w-full flex items-center;
  }

  .header > * {
    @apply mr-2;
  }

  .header > :last-child {
    @apply mr-0;
  }

  .month-change-btn {
    @apply cursor-pointer bg-none border-none text-xl w-8 h-8 p-0
    text-center align-middle rounded-full transition duration-300
    text-[#333];
  }

  .month-change-btn:hover {
    @apply bg-[#f1f3f4];
  }

  .month-change-btn:first-child {
    @apply mr-[-0.5rem];
  }

  .month-title {
    @apply text-2xl font-bold;
  }

  .days {
    flex-grow: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    background-color: var(--border-color);
    gap: var(--border-size);
    padding: var(--border-size);
    margin-bottom: 10px;
  }

  .day {
    background-color: white;
    padding: var(--day-padding);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .non-month-day {
    @apply opacity-75;
  }

  .old-month-day .events,
  .old-month-day .day-header {
    @apply opacity-50;
  }

  .day-header {
    @apply mb-1 flex flex-col items-center relative;
  }

  .week-name {
    @apply uppercase text-xs font-bold text-[#777];
  }

  .day-number {
    @apply text-xs w-8 h-6 flex justify-center items-center;
  }

  .day-number.today {
    @apply bg-eventBlue rounded-2xl text-white;
  }
  .day:hover .add-event-btn,
  .add-event-btn:focus {
    @apply opacity-100;
  }

  .add-event-btn {
    @apply opacity-0 absolute bg-none border-none
  rounded-full w-6 h-6 flex justify-center items-center
  right-0 top-0 text-xl cursor-pointer text-[#333];
  }

  .add-event-btn:hover {
    @apply bg-[#f1f3f4];
  }

  .event {
    @apply flex items-center overflow-hidden whitespace-nowrap
  cursor-pointer flex-shrink-0 bg-none w-full border-none text-xs p-0;
  }

  .all-day-event {
    @apply text-white p-1 border-[#333] rounded-[0.25rem];
  }

  .all-day-event .event-name {
    @apply overflow-hidden;
  }

  .event > * {
    @apply mr-2;
  }

  .event > :last-child {
    @apply mr-0;
  }

  .event-time {
    @apply text-[#777];
  }

  .color-dot {
    @apply rounded-full w-2 h-2 flex-shrink-0;
  }

  .color-dot.blue,
  .all-day-event.blue {
    @apply bg-eventBlue;
  }

  .color-dot.red,
  .all-day-event.red {
    @apply bg-eventRed;
  }

  .color-dot.green,
  .all-day-event.green {
    @apply bg-eventGreen;
  }

  .events {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    overflow: hidden;
  }

  .events-view-more-btn {
    @apply border-none bg-none text-sm whitespace-nowrap text-gray-500 cursor-pointer w-full hover:bg-slate-200 bg-slate-100 rounded-md scale-[0.9];
  }

  .modal {
    @apply fixed top-0 left-0 bottom-0 right-0 flex justify-center items-center;
  }

  .modal .overlay {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    animation: fade-in 250ms forwards;
  }

  .modal.closing .overlay {
    animation: fade-in 250ms forwards reverse;
  }

  @keyframes fade-in {
    100% {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .modal .modal-body {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 1;
    min-width: 300px;
    max-width: 95%;
    animation: pop-in 250ms forwards;
    scale: 0;
  }

  .modal.closing .modal-body {
    animation: pop-in 250ms forwards reverse;
  }

  @keyframes pop-in {
    100% {
      scale: 1;
    }
  }
  .modal-title {
    @apply text-lg mb-6 flex justify-between items-center font-bold;
  }

  .modal-title > * {
    @apply mr-1;
  }

  .modal-title > :last-child {
    @apply mr-0;
  }

  .form-group {
    @apply flex flex-col mb-4;
  }

  .form-group.checkbox {
    @apply flex-row items-center;
  }

  .form-group.checkbox input {
    @apply cursor-pointer mr-0;
  }

  .form-group.checkbox label {
    @apply pl-2 cursor-pointer text-gray-600 font-normal;
  }

  .form-group:last-child {
    @apply mb-0;
  }

  .form-group label {
    @apply text-sm text-gray-600 font-normal;
  }

  .form-group input {
    @apply py-1 px-2;
  }

  .row {
    @apply flex;
  }

  .row > * {
    @apply grow flex-shrink-0 mr-2;
  }

  .row > :last-child {
    @apply mr-0;
  }

  .row.left > * {
    @apply grow-0;
  }

  .sr-only {
    @apply invisible h-0 w-0 block;
  }

  .color-radio {
    position: absolute;
    opacity: 0;
    left: -9999px;
  }

  .color-radio + label::before {
    content: "";
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.25;
  }

  .color-radio:checked + label::before {
    opacity: 1;
  }

  .color-radio:focus + label::before {
    outline: 1px solid black;
  }

  .color-radio[value="blue"] + label::before {
    @apply bg-eventBlue;
  }

  .color-radio[value="red"] + label::before {
    @apply bg-eventRed;
  }

  .color-radio[value="green"] + label::before {
    @apply bg-eventGreen;
  }
}
